* {
    box-sizing: border-box;
}
body {
    background-image: url("https://cdn.pixabay.com/photo/2019/09/18/17/23/paint-4487293_960_720.jpg")
}
.main {
    background-color: white;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    height: 13.5cm;
}
footer {
    text-align: center;
    margin-top: 20px;
    background-color: black;
    color: white; 
    margin-right: 35%;
    margin-left: 35%;
}
li {
    border: 0;
}
button {
    border: 0;
    background-color: white;
}
.navbar {
    background-color: rgb(184, 219, 248);
    justify-content: center;
}
.hamburger {
    display: none;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    color: black;
    margin-top: 0px;
}
.main_cesar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 55%;
    width: 55%;
    border: solid black 1px;
}
.full_name {
    text-align: center;
    font-family: 'Handlee', cursive;
}
.job_title {
    text-align: center;
    font-family: 'Handlee', cursive;
}
.click_main {
    text-align: center;
    font-family: 'Handlee', cursive;
}
.click_about {
    text-align: center;
    font-family: 'Handlee', cursive;
}
.click_projects {
    text-align: center;
    font-family: 'Handlee', cursive; 
}
.social {
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    min-width: 90px; 
}
.ig_icon {
    width: 45px;
}
.git_icon {
    width: 45px;
}
.mail_icon {
    width: 45px;
}
.in_icon {
    width: 45px;
}
.reddit_icon {
    width: 45px;
}
/* Main page is done */
.container {
    background-color: white;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    height: 14cm;
    overflow: scroll;
}
.about_duo {
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    width: 60px;    
}
.about_cesar {
    border-radius: 50%;
    border: solid black 1px;
    width: 200%;
}
.about_dog {
    border: solid black 1px;
    border-radius: 50%;
    width: 200%;
}
.about_one {
    font-family: 'Neucha', cursive;
    font-size: 20px;
    text-align: center;
    min-height: 100px;
    padding: 4%;
    background-color: rgb(184, 219, 248);
    opacity: 0.6;
    transition: 0.3s;
}
.about_one:hover {
    opacity: 1;
}
.about_two {
    font-family: 'Nanum Myeongjo', serif;
    text-align: center;
    min-height: 220px;
    padding: 4%;
    background-color: rgb(184, 219, 248);
    opacity: 0.6;
    transition: 0.3s;
}
.about_two:hover {
    opacity: 1;
}
/* about me is done */
.project_list {
    background-color: white;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    height: 14cm;
    overflow: scroll; 
}
.quiz_pic {
    width: 100%;
    margin: 0 auto;
}
.quiz_title {
    text-align: center;
    line-height: 30px;
}
.quiz_photo {
    text-align: center;
    min-height: 30%;
    padding: 20px; 
    background-color: white;
}
.describe {
    font-family: 'Nanum Myeongjo', serif;
    text-align: center;
    min-height: 80px;
    padding: 5%;
    background-color: rgb(184, 219, 248);
    opacity: 0.6;
    transition: 0.3s;
}
.describe:hover {
    opacity: 1;
}
.programs_used {
    font-family: 'Nanum Myeongjo', serif;
    text-align: center;
    min-height: 80px;
    padding: 5%;
    background-color: rgb(184, 219, 248);
    opacity: 0.6;
    transition: 0.3s;
}
.programs_used:hover {
    opacity: 1;
}
.links {
    font-family: 'Nanum Myeongjo', serif;
    text-align: center;
    min-height: 80px;
    padding: 5%;
    background-color: rgb(184, 219, 248);
    opacity: 0.6;
    transition: 0.3s;
}
.links:hover {
    opacity: 1;
}



@media screen and (min-width:480px) {



    .main {
        background-color: white;
        padding: 20px;
        margin: auto;
        margin-top: 50px;
        margin-left: 40px;
        margin-right: 40px;
        height: 16cm;
    }
    footer {
        text-align: center;
        margin-top: 20px;
        background-color: black;
        color: white; 
        margin-right: 35%;
        margin-left: 35%;
    }
    li {
        border: 0;
    }
    button {
        border: 0;
        background-color: white;
    }
    .navbar {
        background-color: rgb(184, 219, 248);
        justify-content: center;
    }
    .hamburger {
        display: none;
    }
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px;
        color: black;
        margin-top: 0px;
    }
    .main_cesar {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 55%;
        width: 45%;
        border: solid black 1px;
    }
    .full_name {
        text-align: center;
        font-family: 'Handlee', cursive;
    }
    .job_title {
        text-align: center;
        font-family: 'Handlee', cursive;
    }
    .click_main {
        text-align: center;
        font-family: 'Handlee', cursive;
    }
    .click_about {
        text-align: center;
        font-family: 'Handlee', cursive;
    }
    .click_projects {
        text-align: center;
        font-family: 'Handlee', cursive; 
    }
    .social {
        display: flex;
        justify-content: space-evenly;
        margin-left: auto;
        margin-right: auto;
        min-width: 90px; 
    }
    .ig_icon {
        width: 45px;
    }
    .git_icon {
        width: 45px;
    }
    .mail_icon {
        width: 45px;
    }
    .in_icon {
        width: 45px;
    }
    .reddit_icon {
        width: 45px;
    }
    /* Main page is done */
    .container {
        background-color: white;
        padding: 20px;
        margin: auto;
        margin-top: 50px;
        margin-left: 40px;
        margin-right: 40px;
        height: 14cm;
        overflow: scroll;
    }
    .about_duo {
        display: flex;
        justify-content: space-evenly;
        margin-left: auto;
        margin-right: auto;
        width: 60px;    
    }
    .about_cesar {
        border-radius: 50%;
        border: solid black 1px;
        width: 200%;
    }
    .about_dog {
        border: solid black 1px;
        border-radius: 50%;
        width: 200%;
    }
    .about_one {
        font-family: 'Neucha', cursive;
        font-size: 20px;
        text-align: center;
        min-height: 100px;
        padding: 4%;
        background-color: rgb(184, 219, 248);
        opacity: 0.6;
        transition: 0.3s;
    }
    .about_one:hover {
        opacity: 1;
    }
    .about_two {
        font-family: 'Nanum Myeongjo', serif;
        text-align: center;
        min-height: 220px;
        padding: 4%;
        background-color: rgb(184, 219, 248);
        opacity: 0.6;
        transition: 0.3s;
    }
    .about_two:hover {
        opacity: 1;
    }
    /* about me is done */
    .project_list {
        background-color: white;
        padding: 20px;
        margin: auto;
        margin-top: 50px;
        margin-left: 40px;
        margin-right: 40px;
        height: 14cm;
        overflow: scroll; 
    }
    .quiz_pic {
        width: 100%;
        margin: 0 auto;
    }
    .quiz_title {
        text-align: center;
        line-height: 30px;
    }
    .quiz_photo {
        text-align: center;
        min-height: 30%;
        padding: 20px; 
        background-color: white;
    }
    .describe {
        font-family: 'Nanum Myeongjo', serif;
        text-align: center;
        min-height: 80px;
        padding: 5%;
        background-color: rgb(184, 219, 248);
        opacity: 0.6;
        transition: 0.3s;
    }
    .describe:hover {
        opacity: 1;
    }
    .programs_used {
        font-family: 'Nanum Myeongjo', serif;
        text-align: center;
        min-height: 80px;
        padding: 5%;
        background-color: rgb(184, 219, 248);
        opacity: 0.6;
        transition: 0.3s;
    }
    .programs_used:hover {
        opacity: 1;
    }
    .links {
        font-family: 'Nanum Myeongjo', serif;
        text-align: center;
        min-height: 80px;
        padding: 5%;
        background-color: rgb(184, 219, 248);
        opacity: 0.6;
        transition: 0.3s;
    }
    .links:hover {
        opacity: 1;
    }
  }


  @media screen and (min-width:800px) {



    .main {
        background-color: white;
        padding: 20px;
        margin: auto;
        margin-top: 50px;
        margin-left: 40px;
        margin-right: 40px;
        height: 17cm;
    }
    footer {
        text-align: center;
        margin-top: 20px;
        background-color: black;
        color: white; 
        margin-right: 35%;
        margin-left: 35%;
    }
    li {
        border: 0;
    }
    button {
        border: 0;
        background-color: white;
    }
    .navbar {
        background-color: rgb(184, 219, 248);
        justify-content: center;
    }
    .hamburger {
        display: none;
    }
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px;
        color: black;
        margin-top: 0px;
    }
    .main_cesar {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 55%;
        width: 25%;
        border: solid black 1px;
    }
    .full_name {
        text-align: center;
        font-family: 'Handlee', cursive;
    }
    .job_title {
        text-align: center;
        font-family: 'Handlee', cursive;
    }
    .click_main {
        text-align: center;
        font-family: 'Handlee', cursive;
    }
    .click_about {
        text-align: center;
        font-family: 'Handlee', cursive;
    }
    .click_projects {
        text-align: center;
        font-family: 'Handlee', cursive; 
    }
    .social {
        display: flex;
        justify-content: space-evenly;
        margin-left: auto;
        margin-right: auto;
        min-width: 90px; 
    }
    .ig_icon {
        width: 45px;
    }
    .git_icon {
        width: 45px;
    }
    .mail_icon {
        width: 45px;
    }
    .in_icon {
        width: 45px;
    }
    .reddit_icon {
        width: 45px;
    }
    /* Main page is done */
    .container {
        background-color: white;
        padding: 20px;
        margin: auto;
        margin-top: 50px;
        margin-left: 40px;
        margin-right: 40px;
        height: 14cm;
        overflow: scroll;
    }
    .about_duo {
        display: flex;
        justify-content: space-evenly;
        margin-left: auto;
        margin-right: auto;
        width: 60px;    
    }
    .about_cesar {
        border-radius: 50%;
        border: solid black 1px;
        width: 200%;
    }
    .about_dog {
        border: solid black 1px;
        border-radius: 50%;
        width: 200%;
    }
    .about_one {
        font-family: 'Neucha', cursive;
        font-size: 20px;
        text-align: center;
        min-height: 100px;
        padding: 4%;
        background-color: rgb(184, 219, 248);
        opacity: 0.6;
        transition: 0.3s;
    }
    .about_one:hover {
        opacity: 1;
    }
    .about_two {
        font-family: 'Nanum Myeongjo', serif;
        text-align: center;
        min-height: 220px;
        padding: 4%;
        background-color: rgb(184, 219, 248);
        opacity: 0.6;
        transition: 0.3s;
    }
    .about_two:hover {
        opacity: 1;
    }
    /* about me is done */
    .project_list {
        background-color: white;
        padding: 20px;
        margin: auto;
        margin-top: 50px;
        margin-left: 40px;
        margin-right: 40px;
        height: 14cm;
        overflow: scroll; 
    }
    .quiz_pic {
        width: 100%;
        margin: 0 auto;
    }
    .quiz_title {
        text-align: center;
        line-height: 30px;
    }
    .quiz_photo {
        text-align: center;
        min-height: 30%;
        padding: 20px; 
        background-color: white;
    }
    .describe {
        font-family: 'Nanum Myeongjo', serif;
        text-align: center;
        min-height: 80px;
        padding: 5%;
        background-color: rgb(184, 219, 248);
        opacity: 0.6;
        transition: 0.3s;
    }
    .describe:hover {
        opacity: 1;
    }
    .programs_used {
        font-family: 'Nanum Myeongjo', serif;
        text-align: center;
        min-height: 80px;
        padding: 5%;
        background-color: rgb(184, 219, 248);
        opacity: 0.6;
        transition: 0.3s;
    }
    .programs_used:hover {
        opacity: 1;
    }
    .links {
        font-family: 'Nanum Myeongjo', serif;
        text-align: center;
        min-height: 80px;
        padding: 5%;
        background-color: rgb(184, 219, 248);
        opacity: 0.6;
        transition: 0.3s;
    }
    .links:hover {
        opacity: 1;
    }
  }
